body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  margin: 0 auto;
  max-width: 75%;
}

.title-container {
  align-items: center;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.title-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title-text h1 {
  margin: 0.25rem;
}

.title-text h2 {
  margin: 0.25rem;
}

.message {
  max-width: 50%;
  border-style: dotted;
  padding: 1rem;
  text-align: center;
}

.shown-after-scan {
  display: none;
}

#scan-error-message {
  text-align: left;
}

#scan-error-message ol {
  margin-top: 0;
  margin-bottom: 0;
}

#students-table {
  margin-bottom: 1rem;
}

#students-table th,
td {
  padding: 0.1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

#buttons {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
